body
{
    background-color: dodgerblue;
    color:azure;
    font-family: "Rubik", sans-serif;
}
a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: white;
  background-color: transparent;
  text-decoration: underline;
}
nav{
    display:flex;
    width:100%;
    border-bottom:1px solid;
    border-color:black;

}
#nav-homepage-section {
    float: left;
    width: 90%;
    border-right: 1px solid;
    border-color: black;
}
#nav-projects-section {
    float:right;
    width:10%;
}
.nav-section {
    padding: 2rem 2rem;
    display: flex;
    gap: 1rem;
    border-left: 1px;
    box-sizing: border-box;

}
